main {
    padding-bottom: 50px;
    .card {
        width: 33%;
        min-width: 200px;
        display: inline-block;
        margin-top: 50px;
        position: relative;
        font-size: 12px;
        padding: 5px;

        img {
            width: 100%;
            cursor: pointer;
        }

        .img {
            .first {
                display: block;
            }

            .second {
                display: none;
            }

            &:hover .first {
                display: none;
            }

            &:hover .second {
                display: block;
            }
        }

        .heart {
            width: 40px;
            height: 40px;
            background-color: $white-color;
            color: black;
            text-align: center;
            line-height: 40px;
            font-size: 25px;
            position: absolute;
            top: 2%;
            right: 0;
            cursor: pointer;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: $red-color;
                }
            }
        }

        .discount {
            background-color: $red-color;
            display: inline-block;
            padding: 5px 10px;
            position: absolute;
            left: 5px;
            bottom: 15%;
            font-weight: 600;
            color: $white-color;
        }

        .trademark,
        .price,
        .price-discount {
            font-size: 10px;
            padding-top: 5px;
        }

        .sustain {
            display: inline-block;
            padding: 5px 10px;
            background-color: $green-color;
            position: absolute;
            left: 14%;
            bottom: 15%;
            font-weight: 600;
            color: $white-color;
        }

        .sus-only {
            position: absolute;
            left: 5px;
        }

        .price {
            text-decoration: line-through;
            margin-left: 10px;
        }

        .fullPrice {
            text-decoration: none;
        }
    }
}
