$top-color: #ff6900;
$red-color: #ff0000;
$white-color: #ffffff;
$black-color: #000000;
$green-color: #008000;
$gray-color: gray;
$twitter-color: #00ffff;
$facebook-color: #4173b8;
$instagram-color: #e7478f;
$pinterest-color: #b54152;
$primary-font: Arial, Helvetica, sans-serif;
$container-width: 80%;
$container-max-width: 1200px;
$font-weight600: 600;
